@{
    ViewData["Title"] = "Tạo nhân viên";

    List<Chucvu> listchucvu = ViewBag.Chucvu;
    
}

@model JobRecommendationWeb.CustomViewModel.TaikhoanNhanvienViewModel

@section Styles {
    <link rel="stylesheet" href="@Url.Content("/css/FormStyle.css")" />
}

    <div class="container">
        <div class="input_container">
            <form asp-action="Create" asp-controller="Staff" method="post">
                <div class="row-register">
                    <div class="col-register2">
                        <h1>Thông tin nhân viên</h1>
                        <hr>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="account">Tên đăng nhập</label>
                            </div>
                            <div class="col-register4">
                                <input type="text" id="account" required autofocus value="@Model.Taikhoan.TenDangNhap" asp-for="@Model.Taikhoan.TenDangNhap">
                                <span asp-validation-for="@Model.Taikhoan.TenDangNhap" class="text-danger w-100"></span>
                        </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="password">Mật khẩu</label>
                            </div>
                            <div class="col-register4">
                                <input type="password" required value="@Model.Taikhoan.MatKhau" asp-for="@Model.Taikhoan.MatKhau">
                                <span asp-validation-for="@Model.Taikhoan.MatKhau" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="password_confirmation">Xác nhận mật khẩu</label>
                            </div>
                            <div class="col-register4">
                                <input type="password" required value="@Model.RePassword" asp-for="@Model.RePassword">
                                <span asp-validation-for="@Model.RePassword" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="name">Họ Tên</label>
                            </div>
                            <div class="col-register4">
                                <input type="text" required value="@Model.Taikhoan.TenNhanVien" asp-for="@Model.Taikhoan.TenNhanVien">
                                <span asp-validation-for="@Model.Taikhoan.TenNhanVien" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="age">Tuổi</label>
                            </div>
                            <div class="col-register4">
                                <input type="text" id="age" required value="@Model.Taikhoan.Tuoi" asp-for="@Model.Taikhoan.Tuoi">
                                <span asp-validation-for="@Model.Taikhoan.Tuoi" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="phone">Số điện thoại</label>
                            </div>
                            <div class="col-register4">
                                <input type="text" id="phone" required value="@Model.Taikhoan.Sdt" asp-for="@Model.Taikhoan.Sdt">
                                <span asp-validation-for="@Model.Taikhoan.Sdt" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-register4">
                                <input type="email" id="email" required value="@Model.Taikhoan.Email" asp-for="@Model.Taikhoan.Email">
                                <span asp-validation-for="@Model.Taikhoan.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="gender">Giới tính </label>
                            </div>
                            <div class="col-register4">
                                <input type="radio" id="phone"  value="Nam" asp-for="@Model.Taikhoan.GioiTinh" required> Nam
                                <input type="radio" id="phone" value="Nữ" asp-for="@Model.Taikhoan.GioiTinh" class="ms-3"> Nữ
                                <input type="radio" id="phone" value="Khác" asp-for="@Model.Taikhoan.GioiTinh" class="ms-3"> Khác
                                <span asp-validation-for="@Model.Taikhoan.Sdt" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="position">Chức vụ</label>
                            </div>
                            <div class="col-register4">
                                <select id="position" required asp-for="@Model.Taikhoan.MaChucVu">
                                    @foreach (var cvu in listchucvu)
                                {
                                    <option value="@cvu.MaChucVu">@cvu.TenChucVu</option>
                                }
                            </select>
                                <span asp-validation-for="@Model.Taikhoan.MaChucVu" class="text-danger"></span>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="text-center">
                <!-- <input type="submit" value="Đăng ký"> -->
                <button type="submit">ĐĂNG KÝ</button>
                <input onclick="resetForm()" type="button" value="LÀM MỚI">
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(function() {
            $(".chosen-default").chosen();
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
