@{
    ViewData["Title"] = "Chỉnh sửa nhân viên";

    List<Chucvu> listchucvu = ViewBag.Chucvu;
    
}

@model Taikhoan

@section Styles {
    <link rel="stylesheet" href="@Url.Content("/css/FormStyle.css")" />
}

    <div class="container">
        <div class="input_container">
            <form id="editStaff" asp-action="Edit" asp-controller="Staff" method="post">
                <div class="row-register">
                    <input id="MaTaiKhoan" asp-for="@Model.MaTaiKhoan" class="d-none" />
                    <div class="col-register2">
                        <h1>Thông tin nhân viên</h1>
                        <hr>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="account">Tên đăng nhập</label>
                            </div>
                            <div class="col-register4">
                                <input disabled type="text" id="account" required autofocus asp-for="@Model.TenDangNhap">
                                <br />
                                <span asp-validation-for="@Model.TenDangNhap" class="text-danger w-100"></span>
                        </div>
                        </div>
                        <br>
@*                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="password">Mật khẩu</label>
                            </div>
                            <div class="col-register4">
                                <input disabled type="password" required  asp-for="@Model.Taikhoan.MatKhau">
                                <span asp-validation-for="@Model.Taikhoan.MatKhau" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="password_confirmation">Xác nhận mật khẩu</label>
                            </div>
                            <div class="col-register4">
                                <input type="password" required value="@Model.RePassword" asp-for="@Model.RePassword">
                                <span asp-validation-for="@Model.RePassword" class="text-danger"></span>
                            </div>
                        </div>
                        <br>*@
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="name">Họ Tên</label>
                            </div>
                            <div class="col-register4">
                                <input type="text" required  asp-for="@Model.TenNhanVien">
                                <br />
                                <span asp-validation-for="@Model.TenNhanVien" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="age">Tuổi</label>
                            </div>
                            <div class="col-register4">
                                <input type="text" id="age" required  asp-for="@Model.Tuoi">
                                <br />
                                <span asp-validation-for="@Model.Tuoi" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="phone">Số điện thoại</label>
                            </div>
                            <div class="col-register4">
                                <input type="text" id="phone" required  asp-for="@Model.Sdt">
                                <br />
                                <span asp-validation-for="@Model.Sdt" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-register4">
                                <input type="email" id="email" required  asp-for="@Model.Email">
                                <br />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="gender">Giới tính </label>
                            </div>
                            <div class="col-register4">
                                @if (Model.GioiTinh == 0)
                                {
                                    <label>
                                        <input type="radio" asp-for="@Model.GioiTinh" value="@Model.GioiTinh" id="nam" checked> Nam
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="radio" asp-for="@Model.GioiTinh" value="@Model.GioiTinh" id="nam"> Nam
                                    </label>
                                }
                                <br>
                                @if (Model.GioiTinh == 1)
                                {
                                    <label>
                                        <input type="radio" asp-for="@Model.GioiTinh" value="@Model.GioiTinh" id="nam" checked> Nữ
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="radio" asp-for="@Model.GioiTinh" value="@Model.GioiTinh" id="nam"> Nữ
                                    </label>
                                }
                                <br>
                                @if (Model.GioiTinh == 2)
                                {
                                    <label>
                                        <input type="radio" asp-for="@Model.GioiTinh" value="@Model.GioiTinh" id="nam"> Khác
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="radio" asp-for="@Model.GioiTinh" value="@Model.GioiTinh" id="nam"> Khác
                                    </label>
                                }
                            </div>
                        </div>
                        <br>
                        <div class="input-row row-register2">
                            <div class="col-register3">
                                <label for="position">Chức vụ</label>
                            </div>
                            <div class="col-register4">
                                <select id="position" required asp-for="@Model.MaChucVu">
                                    @foreach (var cvu in listchucvu)
                                {
                                    <option value="@cvu.MaChucVu">@cvu.TenChucVu</option>
                                }
                            </select>
                                <span asp-validation-for="@Model.MaChucVu" class="text-danger"></span>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="text-center">
                <!-- <input type="submit" value="Đăng ký"> -->
                <a class="btn btn-info p-2 me-3" asp-action="Index" asp-controller="Staff">Trở về</a>
                <button type="submit"> Lưu</button>     
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(function() {
            $(".chosen-default").chosen();
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src=~/js/CandidateValid.js></script>
}
