@{
    ViewData["Title"] = "Quản lý nhân viên";

    List<Taikhoan> listNV = ViewBag.taikhoan;
}
<partial name="_Notification" />
<div class="container mb-5">
    <div class="row">
        <div class="col-6">
            <h3 class="text-dark">Danh sách nhân viên</h3>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Staff">Tạo nhân viên</a>
        </div>
    </div>

    <div class="search">
        <form asp-action="Index" asp-controller="Staff" method="POST" enctype="multipart/form-data" class="row my-2 my-lg-0" autocomplete="off">
            <div class="col-lg-8">
				<div class="input-group mb-3">
					<input class="form-control mr-sm-2 col-lg-8" type="text" name="input" placeholder="Search">
					<select name="NhanVien" style="border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-color: #6c757d;">
								   <option value="">Chọn tất cả</option>
								   <option value="TenNhanVien">Tên</option>
								   <option value="Tuoi">Tuổi</option>
								   <option value="Email">Email</option>
								   <option value="Sdt">SDT</option>
					</select>
				</div>
			</div>
            <div class="col-4">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
            </div>
        </form>
    </div>
</div>

<div class="container">
    <table class="dsnv">
        <thead>
            <tr>
                <th>Mã NV</th>
                <th>Họ Tên</th>
                <th>Tuổi</th>
                <th>SĐT</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                for(int i = 0; i < listNV.Count; i++)
                {
                        <tr>
                            <td>@(i+1)</td>
                            <td>@listNV[i].TenNhanVien</td>
                            <td>@listNV[i].Tuoi</td>
                            <td>@listNV[i].Sdt</td>
                            <td>@listNV[i].Email</td>
                            <td>
                            <a asp-action="Edit" asp-controller="Staff" asp-route-id="@listNV[i].MaTaiKhoan">Chỉnh sửa</a>
                            </td>
                        </tr>
                }
            }
        </tbody>
    </table>
</div>
