@{
    ViewData["Title"] = "Quản lý nhân viên";

    List<Nhanvien> listNV = ViewBag.nhanvien;
}

<div class="container mb-5">
    <div class="row">
        <div class="col-6">
            <h3 class="text-dark">Danh sách nhân viên</h3>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Post">Tạo nhân viên</a>
        </div>
    </div>

    <div class="search">
        <form asp-action="Index" asp-controller="Staff" method="POST" enctype="multipart/form-data" class="row my-2 my-lg-0" autocomplete="off">
            <div class="col-lg-8">
                <input class="form-control mr-sm-2 col-lg-8" type="text" name="Search" id="Search" placeholder="Search">
            </div>
            <div class="col-auto">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
            </div>
        </form>
    </div>
</div>

<div class="container">
    <table class="dsnv">
        <thead>
            <tr>
                <th>Mã NV</th>
                <th>Họ Tên</th>
                <th>Tuổi</th>
                <th>SĐT</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in listNV)
                {
                    <tr>
                        <td>@item.MaNhanVien</td>
                        <td>@item.TenNhanVien</td>
                        <td>@item.Tuoi</td>
                        <td>@item.Sdt</td>
                        <td>@item.Email</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
