@{
    ViewData["Title"] = "Chọn ứng viên";
    Baidang post = ViewBag.post;
    List<Ungvien> candidates = ViewBag.candidates;
}

<div class="container mb-5">
    <div class="row">
        <div class="col-6">
            <h3 class="text-dark">Danh sách ứng viên</h3>
        </div>
    </div>
    <div class="search">
        <form class="row my-2 my-lg-0">
            <div class="col-lg-8">
                <input class="form-control mr-sm-2 col-lg-8" type="text" placeholder="Search">
            </div>
			<div class="col-2">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
            <div class="col-2">
                <a asp-action="Detail" asp-controller="Post" asp-route-id="@post.MaBaiDang" class="btn btn-outline-success my-2 my-sm-0" type="submit">Trở về</a>
            </div>
			
        </form>
    </div>
    
</div>

<div class="container me-auto">
    <!-- chỗ này binding ra danh các việc làm nè-->
    <table class="table  table-bordered"> 
        <thead>
            <tr>
                <th>Stt</th>
                <th>Tên ứng viên</th>
            </tr>
            
        </thead>
        <tbody>
            @for(int i = 0; i < candidates.Count; i++){
                <tr>
                    <td>@i</td>
                    <td>@candidates[i].Ten</td>
                    <td><a asp-action="CandidateApply" asp-controller="Post" asp-route-candidate="@candidates[i].MaUngVien" asp-route-post="@post.MaBaiDang">Ứng tuyển</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>