@{
    ViewData["Title"] = "Chi tiết bài tuyển dụng";
    Baidang post = ViewBag.post;
    Hosocongty company = ViewBag.company;
    List<Kinang> k = post.MaKiNangs.ToList();
}

<div class="container mb-5">
    <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4 text-end">
            <a asp-action="AppliedCandidate" asp-controller="Post" asp-route-id="@post.MaBaiDang" class="btn btn-primary">Xem các ứng viên đã nộp</a>
        </div>
    </div>
</div>

<div class="container border">
    <div class="row">
        <div class="col-8">
            <div class="row h-100">
                <div class="col-4">
                    <img alt="ảnh ở đây" />
                </div>

                <div class="col-8 d-flex align-items-center">
                    <h2>@company.TenCongTy</h2>
                </div>
            </div>
        </div>

        <div class="col-4">
            <a asp-action="Edit" asp-controller="Post" asp-route-id="@post.MaBaiDang" class="btn btn-info w-100 mb-3">Chỉnh sửa</a>
            <a class="btn btn-success w-100" asp-action="Apply" asp-controller="Post" asp-route-id="@post.MaBaiDang">Nộp CV</a>
            <a asp-action="Delete" asp-controller="Post" asp-route-id="@post.MaBaiDang" class="btn btn-dark w-100 mt-3">Xoá</a>
        </div>
    </div>
    <div class="py-5"></div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <h4 class="fw-bold">@post.TenCongViec</h4>
            </div>
            <div class="row mb-2">
                <h4 class="text-danger">Lương: @post.LuongMin VNĐ - @post.LuongMax VNĐ</h4>
            </div>
            <div class="row mb-2">
                <label class="fw-bolder">Mô tả công việc</label>
                <p class="lh-base">@post.MoTa</p>
            </div>
            <div class="row mb-2">
                <label class="fw-bolder">Yêu cầu công việc</label>
                <p class="lh-base">@post.GhiChu</p>
            </div>

        </div>
        <div class="col-4">
            <label class="fw-bold mb-4">@company.TenCongTy</label>

            <div class="mb-4">
                <label class="fw-bold mb-4">Địa chỉ: @company.DiaChi</label>
            </div>

            <label class="fw-bold mb-4">Quốc tịch: @company.QuocTich</label>

            <div class="mb-4">
                <label class="fw-bold mb-4">Kĩ năng</label>
                <p class="d-inline-block">
                    @foreach (var item in k)
                    {
                        <text>@item.TenKiNang, </text>
                    }
                </p>
            </div>

            <div class="mb-4">
                <label class="fw-bold">Website bài gốc:</label>
                <a class="link-info d-block text-truncate" href="@post.WebsiteBaiGoc" target="_blank">@post.WebsiteBaiGoc</a>
            </div>
        </div>
    </div>
</div>