@model List<Baidang>
@using JobRecommendationWeb.AddingClasses;
@{
    ViewData["title"] = "Bài tuyển dụng";
}

<partial name="_Notification" />
<div class="container mb-5">
    <div class="row">
        <div class="col-6">
            <h3 class="text-dark">Danh sách bài tuyển dụng</h3>
        </div>
        <div class="col-6 text-end">
            
        </div>
    </div>
    <div class="search row">
        <div class="col-10">
            <form asp-action="Index" asp-controller="Post" method="POST" enctype="multipart/form-data" class="row my-2 my-lg-0" autocomplete="off">
                <div class="col-10">
                    <div class="input-group mb-3">
                        <input class="form-control mr-sm-2 col-lg-8" type="text" name="input" placeholder="Search">
                        <select name="baidang" id="baidang" style="border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-color: #6c757d;">
                            <option value="">Chọn tất cả</option>
                            <option value="TenCongTy">Tên công ty</option>
                            <option value="TenCongViec ">Tên công việc</option>
                            <option value="LuongMin">Lương tối thiểu</option>
                            <option value="LuongMax">Lương tối đa</option>
                            <option value="ThamNien">Thâm Niên</option>
                        </select>
                    </div>
                </div>
                <div class="col-2 text-end">
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
                </div>
            </form>
        </div>
		<div class="col-2 text-end">
            @if (UsingAccount.Instance.Taikhoan != null)
			{
                <a class="btn btn-primary" asp-action="Create" asp-controller="Post">Tạo bài tuyển dụng</a>
            }
        </div>
	</div>
</div>


<div class="container d-flex justify-content-center align-items-center">
    <!-- chỗ này binding ra danh các việc làm nè-->
    <ul class="displayCard w-100">
        @foreach (Baidang item in Model)
        {
            string imgSrc = "";
            if (item.MaCongTyNavigation.AnhCongTy != null)
            {
                var base64 = Convert.ToBase64String(item.MaCongTyNavigation.AnhCongTy);

                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <li class="d-inline-block m-4">
                <div class="card">
                    <div class="position-relative">
                        <a asp-action="Detail" asp-controller="Post" asp-route-id="@item.MaBaiDang" class=" position-absolute top-0 left-0 w-100 h-100"></a>
                        <div class="card-header d-flex justify-content-center align-items-center">
                            <img alt="ảnh công ty" src="@imgSrc" />
                        </div>
                        <div class="card-body">

                            <h5 class="card-title fw-bolder text-truncate">@item.TenCongViec</h5>
                            <div class="small-text mb-3">
                                <p class="card-text m-0 small">Từ <span class="fw-bold">@String.Format("{0:#,0}", item.LuongMin)</span> đến <span class="fw-bold">@String.Format("{0:#,0}", item.LuongMax)</span> triệu</p>

                                <p class="card-text m-0 small mt-3 text-truncate"> Địa điểm: 
                                    @if (@item.MaCongTyNavigation != null)
                                    {
                                        @item.MaCongTyNavigation.DiaChi
                                    }
                                 </p>
                            </div>
                            <div class="py-2"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="@item.WebsiteBaiGoc" target="_blank">Đi tới website bài gốc</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>