@model Hosocongty
@{
    ViewData["Title"] = "Chỉnh sửa hồ sơ công ty";
    List<SelectListItem> items = new List<SelectListItem>();

    items.Add(new SelectListItem { Text = "Việt Nam", Value = "Việt Nam" });
    items.Add(new SelectListItem { Text = "Lào", Value = "Lào" });
    items.Add(new SelectListItem { Text = "Campuchia", Value = "Campuchia" });
    items.Add(new SelectListItem { Text = "Hàn Quốc", Value = "Hàn Quốc" });
    items.Add(new SelectListItem { Text = "Đức", Value = "Đức" });
    items.Add(new SelectListItem { Text = "Nhật Bản", Value = "Nhật Bản" });
    items.Add(new SelectListItem { Text = "Thái Lan", Value = "Thái Lan" });
    items.Add(new SelectListItem { Text = "Mỹ", Value = "Mỹ" });
    items.Add(new SelectListItem { Text = "Singapore", Value = "Singapore" });

}
@section Styles {
    <link rel="stylesheet" href="@Url.Content("/css/Form.css")" />
}
<div class="formView">
    <div class="input_container">
        <form name="formValidation" id="formValidation" action="valid.html">
            <div class="row-register">
                <div class="col-register2">
                    <h1>Thông tin nhà tuyển dụng</h1>
                    <hr>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="name">Tên công ty</label>
                        </div>
                        <div class="col-register4">
                            <input type="text" name="TenCongTy" id="name" value="@Model.TenCongTy" required autofocus>
                        </div>
                    </div>
                    <br>
                    
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="email">Website</label>
                        </div>
                        <div class="col-register4">
                            <input type="text" name="Website" id="email" value="@Model.Website" required>
                        </div>
                    </div>
                    <br>
                    
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="location">Địa chỉ</label>
                        </div>
                        <div class="col-register4">
                            <input type="text" name="DiaChi" id="location" value="@Model.DiaChi" required>
                            <br>
                            <span>Ví dụ: 332, Cộng Hòa, 14, Tân Bình</span>
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="country">Quốc gia</label>
                        </div>
                        <div class="col-register4">
                            <select name="country" id="country" required>
                                @foreach (var item in items)
                                {
                                    if (item.Value == Model.QuocTich)
                                    {
                                        <option selected value="@item.Value">@item.Text</option>
                                    }
                                    else
                                    {
                                        <option selected value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="compensation">Chế độ đãi ngộ</label>
                        </div>
                        <div class="col-register4">
                            <textarea id="compensation" name="CheDoDaiNgo" rows="4" cols="50" required>@Model.CheDoDaiNgo</textarea>
                            <!-- <input type="text-area" name="compensation" id="compensation" required> -->
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="describe">Mô tả công ty</label>
                        </div>
                        <div class="col-register4">
                            <textarea  id="describe" name="MoTaThem" rows="4" cols="50" required>@Model.MoTaThem</textarea>
                            <!-- <input type="text-area" name="describe" id="describe" required> -->
                        </div>
                    </div>
                    <br>
                    <div class="input-row row-register2">
                        <div class="col-register3">
                            <label for="GPKD">Ảnh công ty</label>
                        </div>
                        <div class="col-register4">
                            <input type="file" name="AnhCongTy" id="GPKD" accept="image/*" required>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="text-center">
                <button>ĐĂNG KÝ</button>
                <input onclick="resetForm()" type="button" value="LÀM MỚI">
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src=~/js/CompanyValid.js></script>
}