<<<<<<< Updated upstream
﻿@model IEnumerable<JobRecommendationWeb.Models.Kinang>
=======
﻿@model List<Baidang>
>>>>>>> Stashed changes
@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< Updated upstream
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
=======
<partial name="_Introduction" />


<div id="portfolio" class="d-flex justify-content-center align-items-center">
    <!-- chỗ này binding ra danh các việc làm nè-->
    <div class="row g-2">
        @{
            var a = Model[0];
            var b = Model[1];
            var c = Model[2];
        }
        <div class="col-4">
            <div class="card position-relative ">
                <a asp-action="Detail" asp-controller="Post" asp-route-id="@a.MaBaiDang" class=" position-absolute top-0 left-0 w-100 h-100"></a>
                <div class="card-header d-flex justify-content-center align-items-center">
                    <img alt="ảnh công ty" />
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bolder">@a.TenCongViec</h5>
                    <div class="small-text mb-2">
                        <p class="card-text m-0 small">@a.LuongMin - @a.LuongMax</p>

                        <p class="card-text m-0 small">Yêu cầu: @a.ThamNien</p>
                    </div>
                    <p class="card-text">@a.NgayDangBai</p>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card position-relative ">
                <a asp-action="Detail" asp-controller="Post" asp-route-id="@b.MaBaiDang" class=" position-absolute top-0 left-0 w-100 h-100"></a>
                <div class="card-header d-flex justify-content-center align-items-center">
                    <img alt="ảnh công ty" />
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bolder">@b.TenCongViec</h5>
                    <div class="small-text mb-2">
                        <p class="card-text m-0 small">@b.LuongMin - @b.LuongMax</p>

                        <p class="card-text m-0 small">Yêu cầu: @b.ThamNien</p>
                    </div>
                    <p class="card-text">@b.NgayDangBai</p>                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card position-relative">
                <a asp-action="Detail" asp-controller="Post" asp-route-id="@c.MaBaiDang" class=" position-absolute top-0 left-0 w-100 h-100"></a>
                <div class="card-header d-flex justify-content-center align-items-center">
                    <img alt="ảnh công ty" />
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bolder">@c.TenCongViec</h5>
                    <div class="small-text mb-2">
                        <p class="card-text m-0 small">@c.LuongMin - @c.LuongMax</p>

                        <p class="card-text m-0 small">Yêu cầu: @c.ThamNien năm kinh nghiệm</p>
                    </div>
                    <p class="card-text">@c.NgayDangBai</p>                </div>
            </div>
        </div>
    </div>
>>>>>>> Stashed changes
</div>

<table class="table table-bordered table-striped w-100">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên kĩ năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model) {
            <tr>
                <td width="20%">@p.MaKiNang</td>
                <td width="80%">@p.TenKiNang</td>
                <td>
                    <a asp-action="KinangEdit" asp-route-id="@p.MaKiNang">Edit</a> |
                    <a asp-action="KinangDetails" asp-route-id="@p.MaKiNang">Details</a> |
                    <a asp-action="KinangDelete" asp-route-id="@p.MaKiNang">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
